* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	background: #F6F6F6;
	font-family: Dosis, sans-serif;
	font-size: 10px;
	color: #3F2A3D;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

.center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	text-align: center;
	width: 710px;
}

.logo {
	width: 120px;
	height: auto;
}

.team {
	width: 710px;
	height: auto;
}

.contact-link {
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	text-decoration: none;
	color: #3F2A3D;
}

.contact-link:visited {
	color: #3F2A3D;
}

.description {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 300;
}

@media screen and (max-width: 710px) {
	.center {

		width: auto;
		margin: 0 20px;
	}

	.team {
		width: 100%;
		height: auto;
	}
}
