* {
	padding: 0;
	margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

::-moz-selection {
  background: #65C8D0;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #65C8D0;
  color: #fff;
  text-shadow: none;
}

label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

body {
	font-family: 'Dosis', sans-serif;
	font-size: 10px;
	background: #F6F6F6;
	color: #3F2A3D;
	overflow-x: hidden;
}

.center {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.section-01 {
	margin: 20px;
	background: #fff url(../../images/dots.svg) no-repeat right bottom;
	background-size: 115px;
	min-height: 740px;
}

.section-01 .center:before {
	content: '';
	position: absolute;
	top: 388px;
	left: 177px;
	background: url(../../images/square.svg) no-repeat;
	width: 216px;
	height: 166px;
	z-index: 10;
}

.section-01 .logo {
	background-image: url(../../images/kofe.svg);
	width: 100px;
	height: 65px;
	position: absolute;
	top: 320px;
	left: 15px;
	text-indent: -9999px;
	overflow: hidden;
}

.section-01 .chimp {
	position: absolute;
	top: 60px;
	left: 288px;
}

.section-01 .title {
	position: absolute;
	top: 253px;
	left: 777px;
}

.section-01 .title span:nth-child(1) {
	display: block;
	text-transform: lowercase;
	color: #65C8D0;
	font-size: 25px;
	font-weight: 400;
	margin-left: 27px;
}

.section-01 .title span:nth-child(2) {
	display: block;
	margin-left: 24px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 100;
}

.section-01 .title span:nth-child(3) {
	display: block;
	text-transform: uppercase;
	font-size: 52px;
	font-weight: 300;
}

.section-01 .title span:nth-child(4) {
	display: block;
	margin-left: 25px;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
}

.section-02 {
	margin: 20px;
	padding-top: 100px;
	padding-bottom: 230px;
	position: relative;
}

.section-02:before {
	content: 'Bomchipar';
	position: absolute;
	bottom: -100px;
	left: 0;
	font-size: 19.8em;
	font-weight: 100;
	text-transform: uppercase;
	width: 344px;
	word-wrap: break-word;
	color: #fff;
	line-height: 1em;
}

.section-02 p {
	font-size: 1.8em;
	margin-bottom: 24px;
	line-height: 1.4em;
}

.section-02 h3 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.4em;
}

.section-02 .col-1 {
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin-right: 144px;
}

.section-02 .col-2 {
	display: inline-block;
	vertical-align: top;
	width: 490px;
	position: relative;
}

.section-02 .col-2:before {
	content: '';
	position: absolute;
	top: 125px;
	left: -67px;
	background: url(../../images/dots-horizontal.svg) no-repeat;
	background-size: contain;
	width: 176px;
	height: 85px;
}

.section-02 .image {
	display: inline-block;
	vertical-align: top;
}

.section-02 .image:nth-child(1),
.section-02 .image:nth-child(3) {
	margin-right: 10px;
	margin-bottom: 10px;
}

.section-02 .image:nth-child(2) {
	margin-bottom: 10px;
}

.section-02 .list {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	padding-top: 50px;
	padding-left: 40px;
}

.section-02 .list-item {
	display: block;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 13px;
}

.footer {
	border: 5px solid #fff;
	border-top-width: 25px;
	background: #3F2A3D;
	padding: 60px 0 25px;
	position: relative;
}

.footer .image {
	position: absolute;
	width: 100px;
	height: 100px;
	top: -60px;
	left: 50%;
	transform: translateX(-50%);
}

.footer .contact {
	margin-bottom: 25px;
}

.footer .contact-title {
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}

.footer .contact-form {
	width: 365px;
	margin: 0 auto 25px;
	overflow: hidden;
}

.footer .contact-form .form-item {
	float: left;
	position: relative;
}

.footer .contact-form .form-input {
	background: transparent;
	border: 1px solid #fff;
	height: 40px;
	width: 305px;
	color: #fff;
	padding: 0 20px;
	font-size: 1.4em;
}

.footer .contact-form .form-label {
	position: absolute;
	top: 12px;
	left: 21px;
	font-size: 1.4em;
	color: #fff;
}

.footer .contact-form .form-input:focus + .form-label {
	display: none;
}

.footer .contact-form .btn {
	float: left;
	background: #fff;
	border: 0;
	border-radius: 0;
	width: 60px;
	height: 40px;
	text-align: center;
	font-size: 1.4em;
	font-weight: 800;
	color: #3F2A3D;
	cursor: pointer;
}

.footer .email-wrapper {
	display: block;
	text-align: center;
	margin-bottom: 45px;
}

.footer .email {
	text-decoration: none;
	color: #65C8D0;
	font-size: 1.8em;
}

.footer .copyright {
	display: block;
	text-align: center;
	font-size: 1.4em;
	color: #7E527A;
}

@media screen and (max-width: 1049px) {
	.center {
		width: auto;
		margin: 0 20px;
	}

	.section-01 {
		padding: 20px;
	}

	.section-01 .center:before {
		display: none;
	}

	.section-01 .logo {
		position: static;
		margin: 20px auto;
	}

	.section-01 .chimp {
		display: block;
		position: static;
		margin: 20px auto;
		max-width: 100%;
		height: auto;
	}

	.section-01 .title {
		position: static;
		width: 240px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 960px) {
	.section-02 {
		padding-top: 40px;
	}

	.section-02 .col-1 {
		display: block;
		width: auto;
		max-width: 450px;
		margin: 0 auto 20px;
	}

	.section-02 .col-2 {
		margin: 0 auto;
		display: block;
	}
}

@media screen and (max-width: 570px) {
	.section-02 .col-2 {
		width: auto;
	}

	.section-02 .image {
		width: calc(50% - 10px);
		height: auto;
	}

	.section-02 .list {
		width: calc(50% - 10px);
		padding: 10px;
	}
}

@media screen and (max-width: 450px) {
	.section-02 .image {
		width: auto;
		max-width: 100%;
		height: auto;
	}

	.section-02 .list {
		width: auto;
	}
}

@media screen and (max-width: 420px) {
	.section-02:before {
    font-size: 15em;
    width: 260px;
	}

	.footer .contact {
		margin: 0 20px;
	}

	.footer .contact-form {
		width: auto;
	}

	.footer .contact-form .form-item {
		width: 83%;
	}

	.footer .contact-form .form-input {
		width: 100%;
	}

	.footer .contact-form .btn {
		width: 17%;
	}
}